<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMZjZSg527FIYM1zBUaFxf-FlWy1NGP14</string>
	<key>GCM_SENDER_ID</key>
	<string>849848670550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uddipan</string>
	<key>PROJECT_ID</key>
	<string>uddipan-probe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>uddipan-probe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849848670550:ios:bba1bcaa1d75570b219ef7</string>
</dict>
</plist>